 html {
    scroll-behavior: smooth;
}
 
 body {
            font-family: Arial, sans-serif;
            background-color: #1D202A;
             background:
        radial-gradient(circle at top left, rgba(102,16,242,0.15), transparent 30%),
        radial-gradient(circle at bottom right, rgba(13,110,253,0.15), transparent 30%),
        #1D202A;
        }
    
.nav-item {
    font-size: 1.4rem;
}
.navbar-brand{
            text-align: left;
            position: left;
             font-size: 1.4rem;
        }
     
       .navbar {
    background: rgba(20, 20, 20, 0.7) !important;
    backdrop-filter: blur(10px);
}
        header {
            background: linear-gradient(135deg, #0d6efd, #6610f2);
            color: white;
            padding: 200px 20px;
            text-align: center;
            outline: #1D202A;
              justify-content: center;
    align-items: center;
        }
        p{
            color: #99A1AD;
            font-size: 1.1rem;
             line-height: 1.8;
        }
        li{
            color: #99A1AD; font-size: 1.1rem;
             line-height: 1.8;
        }
        h3{
            color: white;
         font-size: 2rem;
    font-weight: bold;
       margin-bottom: 20px;
}
        h2{
            color: white;
         font-size: 3rem;
    font-weight: bold;
     margin-bottom: 50px;
}
    .row{
         align-items: flex-start;
    gap: 50px 0;
    }

        .minusta {
            padding: 120px 20px;
            min-height: 100vh;
            background-color: #030712;
            outline: #1D202A;
            outline-width: 5px;
              
            
                outline-style: solid
            
            
        }
  
        .dif{
            background-color: #1D202A;
            padding: 200px 20px;
            min-height: 100vh;
             outline: #1D202A;
        }

        .card {
            transition: 0.3s;
            background-color: #030712;
            color: #99A1AD;
     min-height: 350px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #2d3748;
            
            
        }
        

        .mb-3 {
            color: #99A1AD;
        }

        .card:hover {
            transform: scale(1.03);
                transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
        }

        .card-footer{
            text-align: center;
            position:sticky;
            background-color:#10141E;
        }
        .card-title{
            text-align: center;
            color: white;
        }

        footer {
            background-color: #212529;
            color: white;
            text-align: center;
            padding: 20px;
        }
        span:hover{
            transform: scale(1.05);
        } 


        .split-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
   gap: 20px;
    color: #fff;
    overflow: hidden;
}

.text-part {
    display: inline-block;
    position: relative;

    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.text-part.left {
    transform: translateX(-180%);
    animation-name: slide-in-left;
}

.text-part.right {
    transform: translateX(300%);
    animation-name: slide-in-right;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}
