  body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        header {
            background: linear-gradient(135deg, #0d6efd, #6610f2);
            color: white;
            padding: 100px 20px;
            text-align: center;
        }

        section {
            padding: 60px 20px;
        }

        .card {
            transition: 0.3s;
        }

        .card:hover {
            transform: scale(1.03);
        }

        footer {
            background-color: #212529;
            color: white;
            text-align: center;
            padding: 20px;
        }